.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: medium;

}
.autho{
  display: flex;
  gap: 1cm;
  margin-left: 2cm;
  margin-right: 0.5cm;
}
